.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar-default .navbar-brand{
	color:red;
	font-weight: bold;
}

body{
	background: url("../images/background.jpg");
}

.img-responsive{
	margin: 0 auto;
}

.container{
	padding-left: 0px;
	padding-right: 0px;
}

.page-header {
    padding-bottom: 10px;
    margin: 10px 0 10px;
    border-bottom: 1px solid red;
}

h2{
	font-size: 30px;
	color: red;
	text-decoration: bold;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.fix-form-group {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    width: 80%;
}

.fix-bottom{
	width: 500px;
	margin: 0 auto;
	display: block;
}

.centrar{
	margin-left: 41%;
	display: block;
	width: auto;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #ffe9e9;
}

.pagination > li > a, .pagination > li > span{
	color: red;
}

thead{
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid transparent;
}

.table-striped{
	border: 1px solid #ddd;
	border-radius: 5px;
}

.panel-heading{
	border: 1px solid #ddd;
	background-color: #f5f5f5;
}

.text-info{
	color:red;
}

h3{
    font-size: 20px;
    color: red;   
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}