.header {

 width: 60%; 
 margin: 0 auto;

background-color: #FF0400; 

align-items: center; 

}

.img {

 
width: 15.5%;

 
background-color: #FF0DF2; 
}

.con {
position: relative;
top: -60px ;
left: 180px;

}

